body{ background-color: black;}

h1 {
    color:white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 350%;
}

h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
}

h5 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

p {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 120%;
}

a:link {
    color: grey;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:grey;
    background-color: transparent;
    text-decoration:underline;
}

a:hover {
    color:white;
    background-color: transparent;
     text-decoration: wavy;
    }
