body{ 
    background-color: black;
}

h1 {
    color:white;
    font-family:'Courier New', Courier, monospace ;
    font-size: 350%;
}

h2 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
}

h3 {
    color: white;
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}

h5 {
    color: gray;
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

p {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 120%;
}

a:link {
    color: white;
    background-color: transparent;
    text-decoration: underline;
}

a:visited {
    color:white;
    background-color: transparent;
    text-decoration:underline;
}

a:hover {
    color:grey;
    background-color: transparent;
     text-decoration: wavy;
    }

ol.c {
    list-style-type: upper-roman;
    font-family: 'Courier New', Courier, monospace;
    color: white;
    font-size: 180%;
    margin: 5em;
      }

div.a {
        border: 0px solid white;
        margin: 40px 20px 20px 20px;
        background-color: transparent;
        font-size: 100%;
      }

img {
    margin: 10px;
}

@media screen and (min-width:751px){
h1{
    font-size: 350%;
}
h2{
    font-size: 250%;
}
h3{
    font-size: 150%;
}
h5{
    font-size: 100%;
}
p{
    font-size: 120%;
}
ol.c{
    font-size: 180%;
}
}

@media screen and (max-width:750px){
    h1{
        font-size: 230%;
    }
    h2{
        font-size: 160%;
    } 
    h3{
        font-size: 100%;
    }
    h5{
        font-size: 60%;
    }
    p{
        font-size: 80%;
    }
    ol.c{
        font-size: 120%;
    }

}