body{ 
    background-color: rgb(248, 246, 239);
}

h1 {
    color:rgb(192, 154, 40);
    font-family:'Courier New', Courier, monospace ;
    font-size: 350%;
}

h2 {
    color: rgb(192, 154, 40);
    font-family: 'Courier New', Courier, monospace;
    font-size: 250%;
}

h3 {
    color: rgb(192, 154, 40);
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
}

h5 {
    color:rgb(80, 56, 29);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
}

/* p {
    color: white;
    font-family:'Courier New', Courier, monospace;
    font-size: 120%;
} */

a:link {
    color: rgb(40, 119, 123);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color: rgb(40, 119, 123);
    background-color: transparent;
    text-decoration:underline;
}

a:hover {
    color:rgb(63, 44, 22);
    background-color: transparent;
     text-decoration:underline;
    }

a:active {
    text-decoration: underline;
     }

ol.c {
    list-style-type: upper-roman;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(40, 119, 123);
    font-size: 170%;
    margin: 5em;
    background-color:transparent ;
      }

div.a {
        border: 0px solid rgb(40, 119, 123);
        margin: 40px 20px 20px 20px;
        background-color: transparent;
        font-size: 100%;
      }

img {
    margin: 10px;

}

@media screen and (min-width:741px){
h1{
    font-size: 280%;
}
h2{
    font-size: 200%;
}
h3{
    font-size: 100%;
}
h5{
    font-size: 100%;
}
p{
    font-size: 120%;
}
ol.c{
    font-size: 170%;
}
li{
    font-size: 80%;
}

}

@media screen and (max-width:740px){
    h1{
        font-size: 100%;
    }
    h2{
        font-size: 130%;
    } 
    h3{
        font-size: 30%;
    }
    h5{
        font-size: 60%;
    }
    p{
        font-size: 80%;
    }
    ol.c{
        font-size: 75%;
    }
    li{
        font-size: 55%; 
    }
}