body{ 
    background-color: rgb(248, 246, 239);
}

h1 {
    color:rgb(80, 56, 29);
    font-family:'Courier New', Courier, monospace ;
    font-size: 350%;
    margin: 1em;
}

h2 {
    color: rgb(40, 119, 123);
    font-family: 'Courier New', Courier, monospace;
    font-size: 200%;
    margin: 1em;
}

h3 {
    color: rgb(40, 119, 123);
    font-family: 'Courier New', Courier, monospace;
    font-size: 150%;
    margin: 1em;
}

h5 {
    color: rgb(192, 154, 40);
    font-family: 'Courier New', Courier, monospace;
    font-size: 100%;
    margin: 2em;
}

p {
    color: rgb(192, 154, 40);
    font-family:'Courier New', Courier, monospace;
    font-size: 110%;
    margin: 2.5em;
}

a:link {
    color: rgb(192, 154, 40);
    background-color: transparent;
    text-decoration: none;
}

a:visited {
    color:rgb(80, 56, 29) ;
    background-color: transparent;
    text-decoration:underline;
}

a:hover {
    color:rgb(192, 154, 40);
    background-color: transparent;
     text-decoration:underline;
    }

a:active {
    text-decoration: underline;
     }
     
hr{
        height: 1px;
        background-color:transparent;
        border-top: 1px dashed rgb(192, 154, 40) ;  
    }

ol.c {
    list-style-type: upper-roman;
    font-family: 'Courier New', Courier, monospace;
    color: rgb(40, 119, 123);
    font-size: 200%;
    margin: 5em;
      }

/* div.a {
        border: 0px solid white;
        margin: 40px 0px 20px 0px;
        background-color: transparent;
        font-size: 80%;
      }

div.b{
    border: 0px solid white;
    margin: -20px 0px 0px 0px;
    background-color: transparent;
    font-size: 80%;
}   
  */

 /* img{ 
    width: 60%;
    height:60%;
    margin: .5em;
    border: .5em outset rgb(80, 56, 29);
 } */



 @media screen and (min-width:841px){
    h1{
        font-size: 400%;
    }
    h2{
        font-size: 250%;
    }
    h3{
        font-size: 150%;
    }
    h5{
        font-size: 100%;
    }
    p{
        font-size: 110%;
    }
    ol.c{
        font-size: 180%;
    }
    }
    
    @media screen and (max-width:840px){
        h1{
            font-size: 180%;
        }
        h2{
            font-size: 160%;
        } 
        h3{
            font-size: 100%;
        }
        h5{
            font-size: 60%;
        }
        p{
            font-size: 70%;
        }
        ol.c{
            font-size: 80%;
        }
        li{
            font-size: 80%; 
        }

    }

    body,html {
        margin: 0;
        background-image: url("../file/imgs/texture.png");
        height: 100%; 
        background-repeat: no-repeat;
        background-size: cover;
        background-attachment: fixed;
        
        }
    .flex-box{
          display:flex;
          justify-content: space-between;
      }
     .flex-box>div{
        margin: 2em 2em 0em 0em;
         font-size: 100%;
     }

     .row {
        display: flex;
        flex-wrap: wrap;
        margin: 0.3em;

      }
      
      .column {
        flex: 15%;
        max-width: 20%;
        margin:0.3em;
      }
      
      .column img {
        margin: 0.3em;
        vertical-align: middle;
        width: 100%;
        border: 0.1em solid rgb(40, 119, 123);
        border-radius: 8px;
        
      }
      
      @media screen and (max-width: 800px) {
        .column {
          flex: 30%;
          max-width: 50%;
        }
      }
      
      @media screen and (max-width: 600px) {
        .column {
          flex: 100%;
          max-width: 100%;
        }
      }

      * {
        box-sizing: border-box;
      }
      
      .zoom {
        transition: transform .2s;
        margin: 0 auto;
      }
      
      .zoom:hover {
        -ms-transform: scale(1.2); 
        -webkit-transform: scale(1.2); 
        transform: scale(1.2); 
      }

      div.sticky {
        position: sticky;
        position: -webkit-sticky;
        top: 0;
        margin: 0.2em;
        background-color: rgba(248, 246, 239, 0.5);
    
      }

    /* COLOR USED: light yellowbrown-- rgb(248, 246, 239),light brown--rgb(192, 154, 40),brown--rgb(80, 56, 29),blue--rgb(40, 119, 123)  */